@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #f8fafc;
  --accent: #3b82f6;
  --font-inter: "Inter", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .font-mono {
    font-family: var(--font-jetbrains-mono);
  }
}